.wrapper {
  background-color: #f6f7f9;
  min-height: 100vh;
}

.container {
  padding-top: 100px;
}

.bg-purple {
  background: linear-gradient(to right, #8e2de2, #4a00e0) !important;
}

.bg-wiretap {
  background: linear-gradient(to right, #8a2387, #e94057, #f27121) !important;
}
.navbar-brand {
  font-family: "Roboto", sans-serif;
  /* font-size: 1.6rem !important; */
  color: #666 !important;
}

h1,
h2,
h3,
h3,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #666 !important;
}

.heading {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #666 !important;
}

.nav-link {
  font-size: 0.8rem;
  color: #666 !important;
}

.nav-link:hover a {
  color: red !important;
}

.nav-item:hover a {
  color: #2196f3 !important;
}

.nav-item:hover .material-icons {
  color: #2196f3 !important;
  transform: scale(1.1);
}

.material-icons {
  color: #666;
  transition: transform 0.5s;
}

ul.navbar-nav li {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
/* .active {
  background-color: #eeeeee;
} */
